.container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #40404A;
}

.signup-container {
  width: 60%;
  height: 80%;
  display: flex;
  background-color: #FAFAFA;
  border-radius: 20px;
}

.create-user-form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.create-account-heading,
.social-media-heading {
  color: #5D6675;
  font-family: 'Life Savers', cursive;
  font-size: 25px;
}

.social-media-heading {
  margin-top: 20px;
  margin-bottom: 50px;
}

.newuser-name,
.newuser-email,
.newuser-password,
.signup-btn {
  width: 80%;
  height: 40px;
  padding: 20px;
  color: #40404A;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.social-media-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-btn {
  padding: 0;
  background-color: #800080;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  outline: none;
}

.signup-btn:disabled {
  opacity: 0.2;
}
