.personality-hits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personality-hits > h2 {
  padding: 25px;
  font-family: 'Life Savers', cursive;
  font-size: 40px;
  color: #800080;
}

.personality-card {
  position: relative;
  width: 225px;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #40404A;
  border-radius: 20px;
  color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.personality-card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.description-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
}

.text {
  display: none;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.description-text:hover {
  display: block;
  background-color: #800080;
  color: #fff;
  transition: all 0.5s ease-in;
}

.description-text:hover .text {
  display: block;
  transition: all 0.5s ease-in;
}
