.header {
  height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  font-family: 'Life Savers', cursive;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.home-page {
  cursor: pointer;
  text-decoration: none;
}

.app-title,
.app-tagline {
  margin-left: 25px;
}

.app-title {
  margin: 0 0 20px 20px;
  padding-top: 25px;
  color: #F07B3B;
  font-size: 75px;
  font-weight: bold;
}

.app-tagline {
  margin-top: 0;
  color: #800080;
  font-size: 32px;
}

.lightbulb-container {
  width: 50%;
  float: right;
}

.lightbulbs {
  height: 200px;
  width: 50%;
  float: right;
}
