/*.background-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #40404A;
}*/

.profile-container {
  margin: 60px auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 20px;
}

.profile-container > h1 {
  margin: 25px;
  color: #F07B3B;
  font-family: 'Life Savers', cursive;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.tests-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5em;
  grid-auto-rows: minmax(230px, auto);
  padding: 15px;
}

.test-btn {
  height: 200px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #66D9EF;
  border: none;
  border-radius: 20px;
  color: #F07B3B;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.test-btn:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

button > p {
  font-size: 30px;
}

button > .test-type {
  font-family: 'Life Savers', cursive;
  font-weight: bold;
}
